@import 'default.less';
@import 'loading.less';
::-webkit-scrollbar{display: none;}
ul,li {
    list-style: none;
}
.clearfix {
    &::after {
        content:' ';
        clear: both;
        display: block;
        visibility: hidden;
    }
}
.container {
    .sidebar {
        height: calc(100vh);
        background-color: @colorR;
    }
    .main {
        overflow: auto;
        height: calc(100vh);
        background-color: @colorL;
        .content {
            position: relative;
            padding: 20px;
        }
    }
}

.card {
    margin-bottom: 20px;
    button {
        margin-right: 20px;
    }
}